*{
    margin: 0;
    padding: 0;
    color: white;
}

.bodyHome{
   background-color: black;

}
 .headerHome {
    .headerHome__login {
        .nav1 { 
            ul {
                display: flex;
            }
        }
    }
 }