*{
    margin: 0;
    padding: 0;
    color:white; 

}

.bodyHome{
    background-color: black;
}

$space-around-margin:25px;
@import "womenMenProducts";
//Como //

@media (max-width:720px){

   
.headerHome {
    display: none;
}
.sectionHome{
    margin-top: 14vh;
   
}
.nav__mobile{

    nav{
           background-color: black !important;
            font-family: "Phudu", cursive !important; 
        }

        
        
    }
        div{
            .offcanvas {
                background-color: black !important;
            }
        }

        .sectionRopa{
         margin-top: 16vh;
         display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(6,1fr);
            gap: 10px;
        
    }
   
      
    .footerHome{
        background-image: linear-gradient(to top,#270606 0%,#000000 100% );
        .div__footer{

         display: flex;
         flex-wrap: nowrap;
         justify-content: center;
         align-items: center;
         margin-top: 20vh;
         margin-bottom: 5vh;

    
             nav{
                 h4{
                     text-align: center;
                     font-family: "Phudu", cursive;
                     margin: 5px;
                     padding: 5px;
                    }

                 ul{
                     li{
                         list-style: none;

                        a{
                         text-decoration: none;
                        }
                     }
                }
             }
        }
    }

}

@media (min-width:721px)and (max-width:1024px) {

    .headerHome{
        display: none;
    }
    .nav__mobile{

        nav{
               background-color: black !important;
                font-family: "Phudu", cursive !important; 
            }
    
            
            
        }
        div{
            .offcanvas {
                background-color: black !important;
            }
        }
    .sectionHome{
        margin-top: 10vh;
       
    }
    .sectionRopa{
        margin-top: 16vh;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 10px;
    }
    .footerHome{
        background-image: linear-gradient(to top,#270606 0%,#000000 100% );

        .div__footer{

         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 20vh;
         margin-bottom: 5vh;
         
         nav{
            h4{
                text-align: center;
                margin: 2px;
                padding: 5px;

            }
            ul{
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                    }
                }
            }
         }
    
        }

    }


}
